{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- this line assess the everything in the static file, and the main aim is to use external css in my project -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">    
    <Title>{% block title %}{% endblock %}</Title>
        
</head>

<body class="d-flex flex-column min-vh-100" id="body">
    <main class="flex-grow-1">
        <nav class="bg-dark text-white p-4 flex item-cente justify-between">
            <div class="flex gap-2 item-center">
                <a href=""> Logout </a>
            </div>
        </nav>
        {% block content %}
        <div class="container mt-5">
            <h1 class="text-center">Welcome to the Dashboard</h1>
            <!-- Add additional content here -->
        </div>
        {% endblock %}
    </main>
    <!-- Footer -->
    <footer class="bg-info text-black text-center py-2 mt-5">
        <p class="mb-0">Copyright &copy; reserved to Gideon 2025</p>
    </footer>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>

</html>