{% extends 'base.html' %}
{% block title %}Home page{% endblock %}


<!-- This model is to regester a user account in the user model with roles  -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label>Username:</label><br>
                    <input type="text" name="username"><br><br>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-lable">Email:</label>
                    <input name="email" type="email" class="form-control" placeholder="Please enter your email">
                </div>
                <div class="mb-3">
                    <label for="psw" class="form-lable">Password:</label>
                    <input name="password" type="password" class="form-control" placeholder="Enter your password">
                </div>
                <label>Role:</label><br>
                <input type="checkbox" name="is_salesagent"> Sales Agent<br>
                <input type="checkbox" name="is_manager"> Manager<br>
                <input type="checkbox" name="is_owner"> Owner<br><br>
                
                <button type="submit" class="btn btn-outline-info">Submit</button>
            </form>            
        </div>
    </div>
</div>
{% endblock %}