{% extends 'manager.html' %}
<!-- This is the title of the page -->



{% block title %} Details of product {% endblock %}



<!-- Data querried from the database to be used as reports on the dashboard -->
{% block content %}
<div class="container">

    <h1> <strong> Product details </strong> </h1>

    <div class="d-flex juctify-content-center" style="min-height: 30vh;">
        <table class="table table-hover w-75">
            <tr>
                <th> id </th>
                <td> {{ product.id }} </td>
            </tr>
            <tr>
                <th> Product Name </th>
                <td> {{ product.product}} </td>
            </tr>
            <tr>
                <th> Branch Name </th>
                <td> {{product.branch}} </td>
            </tr>
            <tr>
                <th> Unit price </th>
                <td> {{ product.unit_price }} </td>
            </tr>
            <tr>
                <th> Description </th>
                <td> {{ product.description }} </td>
            </tr>
            <tr>
                <th> Expiry date </th>
                <td> {{ product.expiry_date }} </td>
            </tr>
        </table>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="flex flex-col mt-5">
                <label for="delete" class="form-label"> Delete Inventory </label>
                <a href="/delete/{{ product.id }}" style="background-color:Tomato;" class="text-white p-3 rounded mb-3">
                    Delete </a>
            </div>

            <!-- A dynamic url to edit an inventory -->
            <div class="flex flex-col mt-5 ">
                <label for="edit" class="form-label"> Edit Inventory </label>
                <a href="/edit/{{ product.id }}" style="background-color:MediumSeaGreen;"
                    class="text-white mt-5 mb-3 p-3 rounded"> Edit </a>
            </div>

            <!-- A dynamic url to sale an inventory -->
            <div class="flex flex-col mt-5 ">
                <label for="sale" class="form-label"> Sale Product </label>
                <a href="/sale/{{ product.id }}" class="btn btn-primary">Make Sale</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}